.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.output{
  outline: none;
  border: none;
  background-color: black;
  width: 300px;
  height: 70px;
  padding: 5px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
  font-weight: 700;
  font-size: 40px;
  text-align: right;

}
button{
  width: 80px;
  height: 90px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  border-top: 1px solid #666;
  border-right: 1px solid #666;
}
.operator{
  border-right: none;
  background-color: orange;
  color: white;
}
.fun-key{
  background-color:orange ;
  color: white;
}
.digit:hover{
  background-color: #d9d9d9;
}
.operator:hover{
  background-color: #c7790f;
}
.fun-key:hover{
  background-color: #aba9a9;
}